<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.truebackup">

    <uses-permission android:name="android.permission.BACKUP" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_settings_backup"
        android:label="@string/true_backup_title"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrueBackup">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/true_backup_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SubSettingsActivity"
            android:exported="false"
            android:label="@string/true_backup_title" />
    </application>
</manifest>
